# ---------------------------------------------
# ------- VARIABLES DEL ENTORNO ---------------
# ---------------------------------------------

# BASE DE DATOS
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# RESEND
RESEND_API_KEY=
RESEND_FROM=

# JWT (Para generar secret seguro con: openssl rand -hex 32)
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7